
#  URLs

BASE_UI_URL=https://dev-cinescope.t-qa.ru
AUTH_SERVICE_URL=https://auth.dev-cinescope.t-qa.ru
MOVIES_SERVICE_URL=https://api.dev-cinescope.t-qa.ru
PAYMENT_SERVICE_URL=https://payment.dev-cinescope.t-qa.ru


#  Basic Auth для UI (nginx)

BASIC_AUTH_USER=admin
BASIC_AUTH_PASSWORD=admin


#  Admin (существующий в системе)

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin123!


#  Тестовый пользователь

TEST_USER_EMAIL=test@example.com
TEST_USER_PASSWORD=Test123!
TEST_USER_FULL_NAME=Test User

#  База данных

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=cinescope_db

#  Тестовая карта

TEST_CARD_NUMBER=4111111111111111
TEST_CARD_EXPIRY=12/25
TEST_CARD_CVV=123