# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Виртуальное окружение
.venv/
venv/
ENV/
env/

# Секреты
.env
*.env

# IDE
.vscode/
.idea/
*.iml

# Тестовые артефакты
.pytest_cache/
.coverage
htmlcov/
allure-results/

# Логи
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Playwright
test-results/
playwright-report/

# Временные файлы
*.tmp
*.temp